<div class="text-center bg-danger text-white font-weight-light p-1">Influx is no longer supported. Thanks for all the support throughout the years. A lot was learned as well. :) - Mehis</div>
<div id="header-imgs">
    <a href="/"><img id="header-logo" class="header-logo" src="/img/influx_logo.png" alt="Influx"/></a>
</div>
<nav class="navbar navbar-expand-lg navbar-light inf-navbar">
    <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
            <a class="nav-link inf-main-nav" href="/download/">Download</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inf-main-nav" href="/guide/">Guide</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inf-main-nav" target="_blank" href="https://discord.gg/Mc5VDQT">Discord</a>
        </li>
    </ul>
</nav>